<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election App | Voter Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-10">
                <h1 class="text-center text-white text-bolder mt-3">Voter Registration Form</h1>
                <form action="/voter-registration" method="post" class="su-form mt-2" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-md-2 ml-5" for="username">Username:</label>
                        <input type="text" class="form-control col-md-7" id="username" name="username" placeholder="Enter username">
                    </div>
            
                    <div class="form-group row">
                        <label class="control-label col-md-2 ml-5" for="password">Password:</label>
                        <input type="password" class="form-control col-md-7" id="password" name="password" placeholder="Enter password">
                    </div>
            
                    <div class="form-group row">
                        <label class="control-label col-md-2 ml-5" for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control col-md-7" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="firstname">First Name:</label>
                        <input type="text" class="form-control col-md-7 col-sm-7" id="firstname" name="firstname" placeholder="Enter First Name" required>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="middlename">Middle Name:</label>
                        <input type="text" class="form-control col-md-7 col-sm-7" id="middlename" name="middlename" placeholder="Enter Middle Name">
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="lastname">Last Name:</label>
                        <input type="text" class="form-control col-md-7 col-sm-7" id="lastname" name="lastname" placeholder="Enter Last Name" required>
                    </div>
            
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="dob">Date of Birth:</label>
                        <input type="date" class="form-control col-md-7 col-sm-7" id="dob" name="dob" placeholder="Enter Date of Birth" required>
                    </div>
            
                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="pp">Photo:</label>
                        <input type="file" accept="image/*" class="form-control col-md-7 col-sm-7" id="pp" name="photo" required> <br>
                        <small class="text-muted p-text">Please upload a passport size photo (JPEG or PNG) for better identification.</small>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-2 col-sm-2 ml-5" for="roles">Role:</label>
                        <select class="form-control col-md-7 col-sm-7" id="roles" name="roles" required>
                            <% roles.map(role => { %>
                                <option value="<%= role.role %>"><%= role.role %></option>
                            <% }) %>
                        </select>
                    </div>
            
                    <div class="form-group d-flex align-items-center">
                        <input type="checkbox" class="small-checkbox mr-2" id="confirmation" name="confirmation" required>
                        <label class="mb-0" for="confirmation"><small class="text-muted">I hereby declare that the information provided is accurate and complete 
                            to the best of my knowledge. I understand that my information will be used for the purpose of election administration and voting.</small></label>
                    </div>
                <div class="col text-center">
                    <button type="submit" class="btn submit-btn">Sign Up</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>